<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <title>Index</title>
</head>
<body>
<div class="container">
    <form action="login.php" method="post">
        <input name="username" type="text" placeholder="username"/><br>
        <input name="password" type="password" placeholder="password"/><br>
        <input type="submit" value="login"/>
    </form>
    <!-- TODO: registration page -->
    <form action="registration.html" method="post">
        <input type="submit" value="create account"/>
    </form>
</div>
</body>
</html>